/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Arvo', serif;
  --font-code: 'Roboto', monospace;
  --bg-color: #020202;
  --font-color: #fcf9f9;
  --btn-bg-color: #d99c40;
  --accent-colo: #460fb4;
  --header-shadow: #000 0px 0px 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);

}
.header-line{
  width: fit-content;
}


.background-image{
 display: flex;
 flex-direction: column;
 max-width: 100%;
 margin-top: 4%;
 margin-left: 2%;
 margin-right: 2%;

  
 
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-right: 2rem;
  margin-left: 0rem;
  padding: 0rem 0rem;
}

/* HEADER */

header {
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.links{
  display: flex;
  gap: 2rem;
  align-items: center;
}


/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  
}
.btn:hover {
  box-shadow: none;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 0rem;
  border-color: transparent;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 1.5rem;
  margin-bottom: 3rem;
  align-items: center;
 
  
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 50px;
}

.countdown ul {
  display: flex;
  gap: 2rem
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
  
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
  
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.countdown p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown{
    margin-left: 4rem
  }
  .countdown p {
    font-size: 1rem;
  }}

  #heading{
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-top: 2rem;

    }

    #heading1{
      margin-bottom: 1rem;
    margin-left: 3rem;
    margin-top: 2rem;
    }
  .welcome{
    display: flex;
  flex-direction: column;
    max-width: 90%;
  text-align: justify;
  margin-left: 2rem;
  margin-bottom: 2rem;
  
  }

  hr{
    max-width: 90%;
    margin-left: 2rem;
    margin-right: 2rem;
    border: none; 
    border-bottom: 1px solid rgb(73, 71, 71); 

    
  }
  .NFT{
    text-align: justify;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-left: 2rem;
    margin-bottom: 2rem;
    
  }

  .Website-Cycle{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-items: center;
    
    
    
    

  }
  .Benefits{
    display: flex;
    flex-direction: column-reverse;
    text-align: justify;
    margin-left: 2rem;
   margin-bottom: 2rem;
   line-height: 40px;
   
    
  }

  .Creator-Cars{
    text-align: justify;
    position: relative;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  
  
  .creator-cars-imgs{
    margin-left: 20px;
    margin-bottom: 70px;
  }
  
  
  .creator-list{
    margin-right: 10px;
    width: 100%;
    margin-bottom: 50px;
    }
    .column {
      width: 15%
    }
      
    .tags {
      width: 17%
    }
    
    .creator-list2{
      margin-right: 10px;
      width: 100%;
      margin-bottom: 50px;
      }
      .column2 {
        width: 12%
      }
        
      .tags2 {
        width: 14.9%
      }

  .Roadmap-list{
    text-align: justify;
    margin-left: 2rem;
   margin-bottom: 60px;
   line-height: 40px;
     }

  .footer{
    text-align: center;
    margin-top: 100px;
  }
  .charity{
    text-align: justify;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  

  .Team{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-left: 7.5%;
  }

  .Teams-cars{
    display: flex;
    flex-direction: column;
    align-items: center;
   max-block-size: 10%;
   row-gap: 10%;
  }

.Team-extended{
  text-align: justify;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.container3{
  display: flex;
  flex-direction: column;
flex-wrap: wrap;
max-width:100%
}



@media screen and (max-width:1000px){

.team-cars2{
  display: none;
}
.team-names2{
  display: none;
}


}


@media only screen and (min-width:1200px){
  .Benefits{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    gap: 15%;
    line-height: 40px;
    max-width: 80%;
  }

}

@media only screen and (min-width:1000px){
 .Teams-cars{
   display: none;
 }

  .team-cars2{
    display: flex;
    gap: 3em;
    justify-content: center;
    flex-wrap: wrap;
    
    
    }

  .team-names2{
    display: flex;
    gap: 4em;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 1%;
    margin-bottom: 5px
  }

}





@media only screen and (min-width:768px) {
  
.background-image{
 display: flex;
 margin-left: 1.5%;
 margin-right: 1.5%;
 margin-top: 50px;
 max-block-size: fit-content;
}

.Roadmap-list{
  margin-bottom: 60px;
  line-height: 60px;
  margin-left: 100px;
  

}

.Creator-Cars{
  margin-bottom: 60px;
  margin-left: 100px;
  max-width: 60%;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
  margin-bottom: 100px;
}

#heading{
  margin-bottom: 15px;
  margin-left: 100px;
  margin-top: 50px;
}
  #heading1{
    margin-bottom: 15px;
    margin-left: 100px;
    margin-top: 50px;
  }

  .welcome{
 margin-bottom: 100px;
 margin-left: 100px;
 max-width: 60%;
  }

  .NFT{
    margin-bottom: 75px;
    margin-left: 100px;
    max-width: 60%;
  }

   .container{
    max-width: 100%
    
  }

 
  
  .charity{
    text-align: justify;
    margin-bottom: 75px;
    margin-top: 0px;
    max-width: 60%;
    margin-left: 100px;
  }

  .Team-extended{
    text-align: justify;
    margin-bottom: 75px;
    margin-left: 100px;
    max-width: 60%;
  }

  

  hr{
      max-width: 90%;
      margin-left: 2rem;
      margin-right: 2rem;
      border: none; 
      border-bottom: 1px solid rgb(73, 71, 71); 
  }

  .Benefits{
    text-align: justify;
    margin-bottom: 75px;
    max-width: 60%;
    margin-left: 100px;
  }
}




